
.w-85 { width: 85%; }
.card-details {
    background: rgba(164, 158, 153, 0.5);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.sosmed {
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #747e88;
    color: #747e88;
    font-size: 16px;
}